*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
  height: 100vh;
  background-color: palevioletred;
}

.header-box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
}

.navbar{
  flex: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}